@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-image: url(/src/Frontend/Images/T.png);
    background-size: cover;
}
nav{
    background-color:black;
    height: 50%;
    opacity: 0.8;
}
.heading{
    font-size: 350%;
    color: white;
    margin-bottom: 5px;
}
.nav_left{
    height: 15%;
    background-color: black;
    display: flex;
    width:20%;
    align-items: end;
    justify-content: center;
}
nav div img{
    width:70px;
    height: 70px;
    filter:invert(100%);
}
section{
    border-radius: 10px;
    opacity: 0.9;
}
.contacts{
    position: absolute;
    height: 82%;
    width: 28%;
    margin:2%;
}
.chat{
    position: absolute;
    height: 80%;
    width: 66%;
    background-color: rgb(255, 255, 255);
    left: 30%;
    margin:2%;
}
.contact-header{
    display: flex;
    box-shadow: 1px 1px 5px black;
    margin:2%;
    border-radius: 8px;
    padding: 2%;
    padding-bottom: 3%;
    padding-left: 4%;
    align-items: center;
    position: sticky;
    background-color: white;    
    padding-top: 3%;
}
input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.addContacts {
    height: 25%;
    width: 20%;
    margin-left: 0.7%;
    font-size: 300%;
    border: 0;
    background-color: white;
    cursor: pointer;
}
.search{
    display: flex;
    border-radius: 40px;
    width: 120%;
    padding: 2%;
    box-shadow: 0px 0px 5px black;
}
.no_outline:focus{
    outline: none;
}
.search-btn{
    border-radius: 100%;
}
.search-user{
    border-radius: 40px;
    margin-bottom: 1%;
    width: 77%;
    border: 1px solid black;
}
.search-btn{
    border-radius: 100%;
    cursor: pointer;
    border: 0;
    background-image: url(/src/Frontend/Images/search-icon.png);
    background-size: cover;
}
.contact-names{
    height: 76.5%;
    box-shadow: 0px 0px 5px black;
    margin:2%;
    margin-top: 4%;
    border-radius: 8px;
    padding: 2% 4% 3% 4%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: aquamarine;
}
.contact-names::-webkit-scrollbar {
    display: none; 
}
.circle {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    background-color: blue;
    margin: 5% 2%;
    margin-right: 4%;
    opacity: 10;
}
.circle:nth-child(1) {
    margin-top: 5%;
}
.name {
    width: 70%;
    height: 70%;
    font-size: 150%;
    padding-top: 8%;
    overflow: hidden;
    color: rgb(104, 104, 104);
}
.user {
    display: flex;
    border-radius: 150px;
    height: 15%;
    box-shadow: 0px 0px 8px grey;
    background-color: white;
    margin: 4% 0;
    align-items: center;
}

.user-info:hover .name {
    animation-name: up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes up {
    from {
        padding-top: 8%;
    }
    to {
        padding-top: 2%;
    }
}
.user-info:not(:hover) .name {
    animation-name: down;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}
@keyframes down {
    from {
        padding-top: 2%;
    }
    to {
        padding-top: 8%;
    }
}

.user-info {
    width: 75%;
    display: flex;
    flex-direction: column;
}
.activity {
    color: green;
    font-weight: bold;
    opacity: 0;
}
.user-info:hover .activity {
    animation-name: unhide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes unhide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.user-info:not(:hover) .activity {
    animation-name: unwatch;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}
@keyframes unwatch {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}