@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-image: url(/src/Frontend/Images/DAY.png);
    background-size: cover;
}
nav{
    background-color:black;
    height: 50%;
}
.nav_left_div{
    display: flex; 
    align-items: center;
    justify-content: center; 
    opacity: 1;
}
.heading1,.heading2{
    font-size: 350%;
    color: white;
}
.heading1{
    background-color: black;
    color:white;
    width:95%;
    height:100%;
    font-size: 60px;
    border:0;
}
.heading-div{
    width: 70%;
    height:30%;
    background-color: rgb(236, 154, 0);
    color:white;
    text-align: center;
    border-radius: 6px;
    padding-left: 3%;
    padding-right: 7%;
    margin-left: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.heading-btn:hover{
    cursor: pointer;
    background-color: rgb(59, 59, 59);
}
.nav_left{
    height: 15%;
    background-color: black;
    display: flex;
    width:20%;
    align-items: end;
    justify-content: center;
}
.nav_right{
    height:15%;
    width:100%;
    background-color:black;
    opacity: 0.8;
}
nav div img{
    width:70px;
    height: 70px;
    filter:invert(100%);
}
section{
    border-radius: 10px;
}
.contacts{
    position: absolute;
    height: 82%;
    width: 28%;
    margin:2%;
}
.chat{
    position: absolute;
    height: 80%;
    width: 66%;
    background-color: rgb(255, 255, 255);
    left: 30%;
    margin:2%;
}
.contact-header{
    display: flex;
    box-shadow: 1px 1px 5px black;
    margin:2%;
    border-radius: 8px;
    padding: 2%;
    padding-bottom: 3%;
    padding-left: 4%;
    align-items: center;
    position: sticky;
    background-color: white;    
    padding-top: 3%;
    opacity: 0.8;
}
input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.addContacts {
    height: 25%;
    width: 20%;
    margin-left: 0.7%;
    font-size: 300%;
    border: 0;
    background-color: white;
    cursor: pointer;
}
.search{
    display: flex;
    border-radius: 40px;
    width: 120%;
    padding: 2%;
    box-shadow: 0px 0px 5px black;
}
.no_outline:focus{
    outline: none;
}
.search-btn{
    border-radius: 100%;
}
.search-user{
    border-radius: 40px;
    margin-bottom: 1%;
    width: 77%;
    border: 1px solid black;
}
.search-btn{
    border-radius: 100%;
    cursor: pointer;
    border: 0;
    background-image: url(/src/Frontend/Images/search-icon.png);
    background-size: cover;
}
.contact-names{
    height: 76.5%;
    box-shadow: 0px 0px 5px black;
    margin:2%;
    margin-top: 4%;
    border-radius: 8px;
    padding: 2% 4% 3% 4%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: rgb(170, 209, 196);
}
.contact-names::-webkit-scrollbar {
    display: none; 
}
.circle {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    /* background-color: blue; */
    
    margin: 5% 2%;
    margin-right: 4%;
    opacity: 10;
}
.circle:nth-child(1) {
    margin-top: 5%;
}
.name {
    width: 70%;
    height: 70%;
    font-size: 150%;
    padding-top: 8%;
    overflow: hidden;
    color: rgb(104, 104, 104);
}
#usr1{
    background-image: url(/src/Frontend/Images/female1.png);
    background-size:120%;
    background-position-x:center;
}
#usr2{
    background-image: url(/src/Frontend/Images/male1.png);
    background-size:120%;
    background-position-x:center;
}
#usr3{
    background-image: url(/src/Frontend/Images/pg.png);
    background-size:200%;
    background-position-x:center;
    background-position-y:-6%;
}
.user{
    display: flex;
    border-radius: 150px;
    height: 15%;
    box-shadow: 0px 0px 8px grey;
    background-color: white;
    margin: 4% 0;
    align-items: center;
}

.user-info:hover .name {
    animation-name: up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes up {
    from {
        padding-top: 8%;
    }
    to {
        padding-top: 2%;
    }
}
.user-info:not(:hover) .name {
    animation-name: down;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}
@keyframes down {
    from {
        padding-top: 2%;
    }
    to {
        padding-top: 8%;
    }
}

.user-info {
    width: 75%;
    display: flex;
    flex-direction: column;
}
.activity {
    color: green;
    font-weight: bold;
    opacity: 0;
}
.user-info:hover .activity {
    animation-name: unhide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes unhide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.user-info:not(:hover) .activity {
    animation-name: unwatch;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}
@keyframes unwatch {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
    
}
.user_name, .status{
    color: white;
    /* padding: 2%;
    padding-bottom: 3%;
    padding-left: 4%;
    background-color: white;
    opacity: 0.9; */
}
.chatfooter{
    width: 95%;
    height: 10%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    background-color: white;    
    margin-bottom: 1%;
    margin-left: 1%;
}
.sendmsg{
    width:80%;
    height: 45%;
    margin-left: 1%;;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20%;
    margin-bottom: 1%;
    box-shadow: 0px 0px 5px black;
}
.sendbtn{
    width:15%;
    height:75%;
    border-radius: 5px;
    margin-left:1%;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    box-shadow: 0px 0px 5px black;
}
.sendbtn:hover{
    cursor: pointer;
    background-color: rgb(182, 173, 163);
}
.chatheader{
    width:100%;
    height: 20%;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px;
    background-color: red;
}
.chatbody{
    height:150%;
}
.display_pic{
    margin: 1% 2%;
    width:70px;
    height:70px;
    border-radius: 100%;
    background-image: url(/src/Frontend/Images/female1.png);
    background-size: 120%;
    background-position-x: center;
}
.chat{
    display: flex;
    flex-direction: column;
    opacity: 0.8;
}
.chatheader{
    display: flex;
    align-items: center;
}
.display_pic-details{
    margin-top: 10%;
}
.msg1{
    width:20%;
    height: 10%;
    background-color: rgb(71, 0, 0);
    color:white;
    margin-top: 30%;
    margin-left: 5%;
    border-radius: 100px;
}
.msg2{
    width:30%;
    height: 10%;
    background-color: rgb(71, 0, 0);
    color:white;
    /* margin-top: 35%;*/
    margin-left: 65%; 
    border-radius: 100px;
}
.msg{
    margin-left: 6%;
    padding: 2%;
}